:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: poppins;
    --font-serif: poppins;
    --first-color: #30a6eb;
    --second-color: #112125;
    --first-color-op: #197dff;
    --gradient-color-p: linear-gradient(220deg, rgba(48,166,235,1) 0%, rgba(48,166,235,1) 36%, rgba(157,28,255,1) 100%);
    --gradient-color-p-hover: linear-gradient(220deg, rgb(44, 141, 197) 0%, rgba(48,166,235,1) 36%, rgb(126, 24, 204) 100%);

}

body{
    background: var(--first-color-op);
}

.container {
    position: relative;
    max-width: 950px;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: poppins;
    justify-content: center;
    align-items: center;
    animation-duration: 1.5s;
    animation-name: cardside;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.change{
    color: var(--first-color);
}

/* .container #flip:checked~.cover {
    transform: rotateY(-180deg);
}

.container #flip:checked~.cover span {
    transform: rotateY(180deg);
} */

.container .cover .front,
.container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover::before,
.container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--gradient-color-p);
    opacity: 1;
    z-index: 12;
}

.container .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.container .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
}

.container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
    
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
    font-family: poppins;
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: var(--second-color);

}

.forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100px;
    transform:translateY(5px);
    background: var(--first-color);
}

.forms .signup-form .title:before {
    width: 150px;
}

.forms .form-content .input-boxes {
    margin-top: 30px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: var(--first-color);
}

.form-content .input-box i {
    position: absolute;
    color: var(--first-color);
    font-size: 17px;
}

.forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: var(--second-color);
}

.forms .form-content .text a {
    text-decoration: none;
}

.forms .form-content .text a:hover {
    text-decoration: underline;
}

.forms .form-content .button {
    color: #fff;
    margin-top: 40px;
    background: var(--first-color); 
}

/* button form */

.button_blue{
    width: 100%;
    color: white;
    padding: 10px;
    background: var(--first-color);
    border: none;
    outline: none;
    text-align: center;
    font-family: poppins;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
}

.button_blue:hover{
    background: var(--first-color-op);
}

.forms .form-content .button input:hover {
    background: var(--first-color-op);
}

.forms .form-content label {
    color: var(--first-color);
    cursor: pointer;
}

.forms .form-content label:hover {
    text-decoration: none;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.container #flip {
    display: none;
}

input::placeholder{
    font-family: poppins;
}

input{
    font-family: poppins;
}

/* POPUP */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
    width: 100%;
    height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    z-index: 99;
}

.overlay.active {
	visibility: visible;
    color: none;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	padding: 20px;
	text-align: center;
	width: 800px;
	height: 500px;
    display: flex;
    flex-direction: column;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    border-radius: 12px;
    font-family: poppins;
}

.info_contact{
    display:grid;
    grid-template-columns: 1fr;
}

.fa-circle-user{
    font-size: 100px;
}

.fa-envelope,
.fa-mobile-screen{
    font-size: 24px;
}

.contact_op_po{
    font-size: 18px;
}

.content_contact_gt{
    margin-top: 40px;
}

.content_popu_row{
    height: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;   
}

.info_contact{
    margin: 20px;
    margin-top: 40px;
}

.info{
    background: url(https://p4.wallpaperbetter.com/wallpaper/831/84/20/artwork-fantasy-art-samurai-skeleton-wallpaper-preview.jpg);
    background-color: rgba(0, 0, 0, 0.775);
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 12px;
}

.formu_po{
    display:  flex;
    flex-direction: column;
    margin-left: 20px;
}

.soporte{
    cursor: pointer;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	transition: .3s ease all;
    align-self: flex-end;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

.popup.active::after{
	color:None;
	background:none;
}


.input-container {
    position: relative;
    margin-top: 10px;
}


.input {
    border: none;
    border-bottom: 2px solid var(--first-color-op);
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
    width: 250px;
    background: none;
    color: rgb(0, 0, 0);
    font-family: poppins;
    padding: 0px;
}

.label {
    top: 0;
    left: 0;
    right: 0;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 17px;
    cursor: text;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}

.label i {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-right: 5px;
}

.input,
.label {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
}

/* Interation */
.input:valid,
.input:focus {
    border-bottom: 2px solid var(--first-color-op);
    background: none;
}

.input:valid+.label,
.input:focus+.label {
    color: rgb(0, 0, 0);
    font-size: 18px;
    top: -35px;
    pointer-events: none;
}


.button_form2{
    width: 100%;
    color: white;
    padding: 10px;
    background: var(--gradient-color-p);
    border: none;
    outline: none;
    text-align: center;
    font-family: poppins;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0px;
}

.button_form2:hover{
    cursor: pointer;
    background: var(--gradient-color-p-hover);
}

@media (max-width: 730px) {

    .overlay {
        background: rgba(0,0,0,.3);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        visibility: hidden;
        z-index: 99;
    }

    .popup {
        background: #F8F8F8;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
        border-radius: 3px;
        padding: 20px;
        text-align: center;
        width: 100%;
        height: 500px;
        transition: .3s ease all;
        transform: scale(0.7);
        opacity: 0;
        border-radius: 12px;
    }

    .content_popu_row{
        height: 400px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 1fr;
        color: white;   
        
    }

}

@media (max-width: 730px) {

    .container{
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

    .container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .container #flip:checked~.forms .signup-form {
        display: block;
    }

    .container #flip:checked~.forms .login-form {
        display: none;
    }
}

@keyframes cardside {
    from {
        transform: translateY(-1500px)
    }

    to {
        transform: translateY(0px)
    }
}

/* ANIMACIONES */

.popup.active {	transform: scale(1); opacity: 1; color: none; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

