/* @import "vars.css"; */
/* Variables */

*{
    transition: all 0.3;
}

:root {
    --submenu-hover-bck: #30697b;
    --padding-h: 20px 40px;
    --color-h: white;
    /* color principal  */
    --color-p: #30a6eb;
    --color-p-hover: #4f9bff;
    --background-color2: #000000;
    --back-color: #0e1c1d;
    --pd-page: 40px;
    --back-footer: #0c171a;
}

.justify-space{
    justify-content: space-between;
}
.justify-space-a{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.row-flex,
.row-flex-sep{
    display: flex;
}

.col-flex{
    display: flex;
    flex-direction: column;
}
.center-x{
    align-items: center;
}
.gp-50{
    gap: 50px;
}

.gp-20{
    gap: 20px;
}


